# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
*.pot
*.pyc
*.pyo

# Environment
venv/
.env
.env.*

# IDEs and Editors
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
Thumbs.db

# Static and Media Files (optional: only if generated during runtime)
staticfiles/
media/
